.testimonials {
    &__container {
        display: grid;
        grid-template-columns: minmax(0, 400px);
        grid-template-rows: repeat(5, auto);
        grid-gap: 32px;
        padding: 72px 25px;
    }

    &__card {
        display: flex;
        flex-flow: column;
        border-radius: 10px;
        padding: 24px 32px;

        &--1 {
            background: $c-violet;
            color: text-clr($c-violet);
        }

        &--2 {
            background: $c-blue-grayish;
            color: text-clr($c-blue-grayish);
        }

        &--3, &--5 {
            background: $c-white;
            color: text-clr($c-white);
        }

        &--4 {
            background: $c-blue-blackish;
            color: text-clr($c-blue-blackish);
        }
    }

    &__author {
        display: flex;
    }

    &__author-image {
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }

    &__author-info {
        display: flex;
        flex-flow: column;
    }

    &__author-status {
        font-size: 0.846rem;
        opacity: 0.5;
    }

    &__heading {
        font-size: 1.538rem;
        font-weight: 500;
        margin: 16px 0;
    }

    &__text {
        opacity: 0.7;
        line-height: 18px;
    }
}

/* Testimonials media queries */
@media (min-width: 769px) {
    .testimonials {
        &__container {
            grid-template-columns: repeat(2, minmax(200px, 400px));
            grid-template-rows: repeat(3, min-content);
            padding: 72px 50px;
        }

        &__card {
            &--1 {
                grid-row: 1 / span 2;
            }
        }
    }
}

@media (min-width: 1200px) {
    .testimonials {
        &__container {
            max-width: 1200px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, min-content);
        }

        &__card {
            &--1 {
                grid-row: 1;
                grid-column: span 2;
            }

            &--4 {
                grid-column: span 2;
            }

            &--5 {
                grid-column: 4 / 5;
                grid-row: 1 / span 2;
            }
        }
    }
}