@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Global styles */
html {
    font-size: 13px;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: $c-blue-grayish-light;
}