@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
@keyframes card-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1.04);
  }
}

@keyframes container-fade {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    trasnsform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html {
  font-size: 13px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #ecf2f8;
}

.testimonials__container {
  display: grid;
  grid-template-columns: minmax(0, 400px);
  grid-template-rows: repeat(5, auto);
  grid-gap: 32px;
  padding: 72px 25px;
  animation: container-fade 1000ms forwards;
}

.testimonials__card {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  padding: 24px 32px;
  box-shadow: 18px 37px 57px -22px rgba(0, 0, 0, 0.1);
  transition: opacity 250ms ease-in;
}

.testimonials__card:hover {
  animation: card-hover 500ms forwards;
}

.testimonials__card.active {
  opacity: 0.4;
}

.testimonials__card--1 {
  position: relative;
  background: #7541c8;
  color: white;
}

.testimonials__card--1::before {
  position: absolute;
  content: url(../../assets/img/bg-pattern-quotation.svg);
  top: 0;
  right: 55px;
  z-index: 2;
}

.testimonials__card--2 {
  background: #48556a;
  color: white;
}

.testimonials__card--3, .testimonials__card--5 {
  background: white;
  color: #48556a;
}

.testimonials__card--4 {
  background: #19212e;
  color: white;
}

.testimonials__author {
  display: flex;
  align-items: center;
}

.testimonials__author-image {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.testimonials__author-info {
  display: flex;
  flex-flow: column;
}

.testimonials__author-status {
  font-size: 0.846rem;
  opacity: 0.5;
}

.testimonials__heading {
  font-size: 1.538rem;
  font-weight: 500;
  margin: 16px 0;
  z-index: 3;
}

.testimonials__text {
  opacity: 0.7;
  line-height: 18px;
}

/* Testimonials media queries */
@media (min-width: 769px) {
  .testimonials__container {
    grid-template-columns: repeat(2, minmax(200px, 400px));
    grid-template-rows: repeat(3, min-content);
    padding: 72px 50px;
  }
  .testimonials__card--1 {
    grid-row: 1 / span 2;
  }
}

@media (min-width: 1200px) {
  .testimonials__container {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
  .testimonials__card--1 {
    grid-row: 1;
    grid-column: span 2;
  }
  .testimonials__card--1::before {
    right: 78px;
  }
  .testimonials__card--4 {
    grid-column: span 2;
  }
  .testimonials__card--5 {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #838383;
  font-size: 1rem;
}

.footer__attribution {
  text-align: center;
}

.footer a {
  color: #48556a;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.footer a:hover {
  text-decoration: underline;
  color: #7541c8;
}
/*# sourceMappingURL=main.css.map */