@keyframes card-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1.04);
    }
}

@keyframes container-fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        trasnsform: scale(1);
    }
}