$c-violet: hsl(263, 55%, 52%);
$c-blue-grayish: hsl(217, 19%, 35%);
$c-blue-blackish: hsl(219, 29%, 14%);
$c-white: hsl(0, 0%, 100%);
$c-gray-light: hsl(0, 0%, 81%);
$c-blue-grayish-light: hsl(210, 46%, 95%);